In [1]:
import csv
import sqlite3

In [ ]:
bank = sqlite3.connect('best-selling-manga.db')
cursor = bank.cursor()

In [ ]:
cursor.execute(''' CREATE TABLE IF NOT EXISTS Manga (
  MangaSeries TEXT NOT NULL,
  Author TEXT,
  Publisher TEXT,
  Demographic TEXT,
  "No. of collected volumes" INT,
  Serialized TEXT,
  "Approximate sales in million(s)" FLOAT,
  "Average sales per volume in million(s)" FLOAT,
)''')

In [ ]:
file = open('best-selling-manga')

In [ ]:
content = csv.reader(file)

In [ ]:
insert_content = "INSERT INTO Manga (MangaSeries, Author, Publisher, Demographic, No. of collected volumes, Serialized, Approximate sales in million(s), Average sales per volume in million(s)) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"

In [ ]:
select_all = "SELECT * FROM Manga"
enter = cursor.execute(select_all).fetchall()

In [ ]:
bank.commit()
bank.close()